* {
    box-sizing: border-box;
    font-family: "Courier New",Courier,
        "Lucida Sans Typewriter","Lucida Typewriter",monospace;
}

html {
    height: 100%;
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    color: rgb(60, 60, 60);
    width: 80%;
    min-width: 400px;
    height: 80%;
    min-height: 600px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    background: white;
}

h1{
    text-shadow: 2px 2px lightgreen;
    color: darkgreen;
    letter-spacing: 3px;
}

h2{
    font-size: medium;
}

h4 {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: normal;
    margin-left: 10%;
    text-align: left;
}

h3 {
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bolder;
}

p {
    font-size: 14px;
}

button {
    outline: none;
    font-size: 16px;
    background: none;
    width: 80px;
    height: 30px;
    border: 1px solid gray;
    cursor: pointer;
    border-radius: 3px;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(112,112,112,0.67);
    -moz-box-shadow: 5px 5px 15px 0px rgba(112,112,112,0.67);
    box-shadow: 5px 5px 15px 0px rgba(112,112,112,0.67);
}

button:hover {
     border: 1px solid grey;
     background: whitesmoke;
}

textarea {
    font-family: "Lucida Sans Typewriter",
        "Lucida Console", Monaco,
        "Bitstream Vera Sans Mono", monospace;
    outline: none;
    font-size: 12px;
    width: 80%;
    padding: 5px;
    padding-top: 8px;
    border: none;
    border-radius: 3px;
    background: none;
    resize: none;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(112,112,112,0.67);
    -moz-box-shadow: 5px 5px 15px 0px rgba(112,112,112,0.67);
    box-shadow: 5px 5px 15px 0px rgba(112,112,112,0.67);
}

textarea.message:focus, textarea.key:focus {
    outline: 0;
    border-bottom: 1px solid slategray;
}

.output {
    height: 75px;
}

.message {
    height: 100px;
}

.key {
    height: 25px;
    overflow: hidden;
}

.dropdown {
    display: inline-block;
    outline: none;
    overflow: hidden;
    height: 28px;
    width: 125px;
    background: none;
    border: 1px solid gray;
    border-radius: 3px;
    -webkit-box-shadow: 5px 5px 15px -5px rgba(112,112,112,0.67);
    -moz-box-shadow: 5px 5px 15px -5px rgba(112,112,112,0.67);
    box-shadow: 5px 5px 15px -5px rgba(112,112,112,0.67);
}

.dropdown-select {
    outline: none;
    position: relative;
    width: 100%;
    height: 28px;
    padding-left: 10px;
    line-height: 14px;
    font-size: 12px;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    -webkit-appearance: none;
    -webkit-box-shadow: 5px 5px 15px -5px rgba(112,112,112,0.67);
    -moz-box-shadow: 5px 5px 15px -5px rgba(112,112,112,0.67);
    box-shadow: 5px 5px 15px -5px rgba(112,112,112,0.67);
}

img {
    margin-top: 15px;
}